@font-face {
    font-family:'t_font' ;
    src: url('../font/Unique\ Bold_MRT.ttf');format:("truetype")
}




h1,h2,h3,h4,h5,p,span,a{


font-family: "t_font";

}



.in-svg{

  display:block;fill:currentColor

}

.wh-svg{

  display: block; fill: currentColor

}


.tel-svg{

  display:block;fill:currentColor

}




.icon{


  display: flex; flex-wrap: wrap; align-items: center; justify-content: center;

}


.the-icons{


  display: flex; justify-content: center;


}


.tel-i-1{

  text-decoration:none;border:0;width:36px;height:36px;padding:2px;margin:5px;color:#11ace9;border-radius:50%;background-color:#0d2744;

}



.tel-i{


  display: flex; flex-wrap:wrap; align-items: center; justify-content: center;

}


.wh-i{

  text-decoration: none; border: 0; width: 36px; height: 36px; padding: 2px; margin: 5px; color: #11ff48; border-radius: 50%; background-color: #0d2744;

}



.in-i-1{


  text-decoration:none;border:0;width:36px;height:36px;padding:2px;margin:5px;color:#e911a7;border-radius:50%;background-color:#0d2744;

}




.in-i{


  display: flex; 
  flex-wrap:wrap;
   align-items: center;
    justify-content: center;




}







.ft2{

font-size: 13px;
position: relative;
top: 5px;

}



.m1{


    font-family: "t_font";

}




.responsive-text {
    font-size: 3.6vw;

}













.mm5 {
    font-size: 28px;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .mm5 {
      font-size: 16px;
      max-width: 100%;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .mm5 {
      font-size: 16px;
    }
  }








p {
    font-size: 16px;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    p {
      font-size: 10px;
      max-width: 100%;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    p {
      font-size: 10px;
    }
  }








.m-slides{

  width:120%;aspect-ratio: 3/2;object-fit: contain;border-radius: 70px

}




.pi-portfolio{

  border-radius: 18px;




}




