@font-face {
    font-family:'t_font' ;
    src: url('../font/Unique\ Bold_MRT.ttf');format:("truetype")
}




h1,h2,h3,h4,h5,p,span,a{


font-family: "t_font";

}



.ft2{

font-size: 13px;

}



.m1{


    font-family: "t_font";

}














