@font-face {
    font-family:'t_font' ;
    src: url('../font/Unique\ Bold_MRT.ttf');format:("truetype")
}




h1,h2,h3,h4,h5,p,span,a{


font-family: "t_font";

}



.ft2{

font-size: 13px;

}



.m1{


    font-family: "t_font";

}




.responsive-text {
    font-size: 3.6vw;

}













.mm5 {
    font-size: 28px;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .mm5 {
      font-size: 18px;
      max-width: 100%;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .mm5 {
      font-size: 14px;
    }
  }


p {
    font-size: 16px;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    p {
      font-size: 13px;
      max-width: 100%;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    p {
      font-size: 13px;
    }
  }



